.friendsWrap{
  display:flex;
  color: inherit;
  margin: 30px -5px 0;
}
.friendItem{
  padding: 5px;
  text-align: center;
  color: #000;
  text-decoration: none;
  border: 1px solid transparent;
  transition:.3s border;
}
.friendItem:hover{
  border: 1px solid #000;
}
.friendPhoto{
  width:100%;
  max-width:50px;
  height:50px;
  border-radius:50%;
}